[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
counter = "QgHcKbZbXDBLJc9yFXx7gmbobZK9QbDsaWkdXY2rQcV"

[programs.localnet]
counter = "QgHcKbZbXDBLJc9yFXx7gmbobZK9QbDsaWkdXY2rQcV"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "../node_modules/.bin/jest --preset ts-jest"
